.css-1pahdxg-control {
  border-color: $colorGray !important;
  box-shadow: 0 0 0 !important;

  &:focus {
    border-color: $colorGray !important;
    box-shadow: 0 0 0 !important;
  }

  &:hover {
    border-color: $colorGray !important;
    box-shadow: 0 0 0 !important;
  }
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}

.hidden {
  display: none;
}


/*--------------------------------------background*/
.bg-white {
  background-color: #fff;
}

.bgGreen {
  background-color: $greenColor !important;
}

.bgGray {
  background-color: $Gray;
}

.bgHighGray {

  background-color: #57595b;
}

.bgBlack {
  background-color: #10101085;
}

.bgMainColor {
  background-color: $colorMain;
}

.bgMainColorDark {
  background-color: $colorMainDark;
}

.bgLightGreen {
  background-color: $ColorLightGreen;
}

.bg-black {
  background-color: #000;
}

.bgLightBlue {
  background-color: $colorLightBlue;
}

.bg-lg-transparent {
  @include media-min($L) {
    background-color: transparent !important;
  }

}

.bgLightGray {
  background-color: #f7f7f7;
}

.bgGradient {

  background-color: #F8F8F8;
}

.bgPink {
  background-color: rgb(255, 128, 139);
}

.bgOrange {
  background-color: #ffa200;
}

/*--------------------------------------text*/
.text-green {
  color: $greenColor !important;
}

.text-red {
  color: $redColor;
}

.text-MainColor {
  color: $colorMain !important;
}

.text-MainColor-dark {
  color: $colorMainDark !important;
}

.text-color {
  color: #70757d;
  font-weight: 500;
  font-family: IRANSans;
}

.text-head-white {
  @include font-source-sans(1rem, #fff, 500, 1.4);

}

.text-pink {
  color: #ff808b;
}

.text-gray {
  color: $colorGray;
}

.text-gray-light {
  color: #aeaeae !important;
}

.text-orange {
  color: $orangeColor;
}

.font-size-2 {
  font-size: 2rem;
}

.font-size-3 {
  font-size: 3rem;
}

.font-size-15 {
  font-size: 1.5rem;
}

.font-size-13 {
  font-size: 1.3rem;
}

.font-size-12 {
  font-size: 1.2rem;
}

.font-size-11 {
  font-size: 1.1rem;
}

.font-size-1 {
  font-size: 1rem !important;
}

.font-size-09 {
  font-size: .9rem;
}

.font-size-08 {
  font-size: .8rem !important;
}

.font-size-85 {
  font-size: .85rem;
}

.font-size-88 {
  font-size: .88rem;
}

.font-size-07 {
  font-size: .7rem;
}

.font-size-06 {
  font-size: .6rem;
}

.font-size-05 {
  font-size: .5rem;
}

/*--------------------------------------border*/

.border-bottom-gray {
  border-bottom: .5px solid #85898db8;
}

.border-top-gray {
  border-top: 1px solid $colorGray;
}

.border-bottom-gold {
  border-bottom: 1px solid $colorMain;
}

.border-bottom-dashed {
  border-bottom: 1px dashed $colorMain;
}

.border-bottom-white {
  border-bottom: 1px solid $colorWhite;
}

.border-radius-bottom-left-custom {
  border-bottom-left-radius: $borderRadius;
}

.border-radius-bottom-right-custom {
  border-bottom-right-radius: $borderRadius;
}

.border-radius-top-right-custom {
  border-top-right-radius: $borderRadius;
}

.border-radius-top-left-custom {
  border-top-left-radius: $borderRadius;
}

.border-radius-custom {
  border-radius: $borderRadius;
}

.border-radius-5 {
  border-radius: 5px;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-100 {
  border-radius: 100px;
}

.borderSize-1 {
  border: 1px solid transparent;
}

.borderSize-2 {
  border: 2px solid transparent;
}

.borderSize-right-1 {
  border-right: 1px solid transparent;
}

.borderSize-left-1 {
  border-left: 1px solid transparent;
}

.borderSize-top-1 {
  border-top: 1px solid transparent;
}

.border-orange {
  border-color: $orangeColor !important;
}

.border-md-white {
  @include media-min($M) {
    border-color: #fff;
  }
}

/*--------------------------------------button*/
.btn-green {
  background-color: $greenColor;
  @include radius(10px);
  padding: 10px 50px;
  @include font-source-sans(1.1rem, #fff, 600, 1.8);

}

.svg-inline--fa {
  vertical-align: middle;
}

/*--------------------------------------overflow*/
.overflow {
  overflow-y: scroll;
}

.overflow-auto {
  overflow-y: auto;
}

.overflow-x {
  overflow-x: scroll;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

/*--------------------------------------opacity*/
.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

/*transition*/
.transition {
  transition: all .3s;
}

/*animation*/
.animation {
  @include animation(0s, .7s);
}

.animation-05 {
  @include animation(0s, .5s);
}

.animation-03 {
  @include animation(0s, .3s);
}

.animation-02 {
  @include animation(0s, .2s);
}

.animation-01 {
  @include animation(0s, .1s);
}

/*--------------------------------------height*/
.h-85 {
  height: 85% !important;
}

.minh-100 {
  min-height: 100%;
}

.h-0 {
  height: 0 !important;
}

.h-auto {
  height: auto !important;
}


.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pt-6 {
  padding-top: 6rem;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

@include media-min($L) {
  .minh-lg-100vh {
    min-height: 100vh;
  }
  .w-lg-50 {
    width: 50% !important;
  }
  .mt-lg-8 {
    margin-top: 8rem !important;
  }
}

.rotate180 {
  @include transform(rotate(180deg));
}

.font-family-bold {
  font-family: Roboto_bold !important;
}

.font-family-normal {
  font-family: Roboto !important;
}

.hoverText {
  @include transition(all .2s);

  &:hover {
    color: $colorMainDark !important;
    border-color: $colorMainDark !important;
  }
}


.logo {
  max-width: 230px;
  @include media-max($M) {
    max-width: 150px;
  }
}

.location-text {
  color: #cbcbcb;
}

.btn-border-primary {
  border: 1px solid $blueColor;
  color: $blueColor;
}

.border-radius-primary {
  border: 1px solid $blueColor;
  border-radius: 50%;
}
