$S : 576px;
$M : 767px;
$L : 992px;
$X : 1200px;
$darkBlueColor: #7494EF;
/*=============bootstrap============*/
$modal-fade-transform: translate(0, 400px);

$greenColor: #26a69a;
$blueColor: #7494EF;
$darkBlueColor: #0F1A34;
$colorGray: #636363;
$colorInput: #aeaeae;
$goldColor: #E3CA92;
$orangeColor: #feac47;
$redColor: #b1111b;

$colorWhite: #fff;
$colorMain: #7494EF;
$colorMainDark: #005399;
$Gray: #85898d8c;
$ColorMainBlack: #1e1f1f;
$ColorBlue: rgba(120, 175, 244, 0.15);
$ColorLightGreen: #eafcea;
$colorLightBlue:#f6f8fc;

$borderRadius:3px;

